<h1> Users </h1> 
<table> 
	<thead> 
		<tr> 
			<th>Name</th> 
			<th>Email</th> 
			<th></th> 
		</tr> 
	</thead> 
	<tbody> 
	<% @jogadores.each do |jogador| %> 
		<tr> 
			<td><%= jogador.name %></td> 
			<td><%= jogador.email %></td> 
			<td><%= link_to "Show", jogador %></td> 
		</tr> 
		<%end%> 
	</tbody> 
</table>

